.block {
  background-size: cover;
  background-position: 50%;
  height: 200px;
  transition: all 0.5s;
  transform: scale(1, 1);
  position: relative;
  &:hover {
    z-index: 1;
    transform: scale(1.02, 1.02);
    .block__overlay {
      opacity: 0.3;
    }
  }
  &__overlay {
    z-index: -1;
    transition: opacity 0.5s linear;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0;
  }
}
