@import "./_block.scss";

.block__image {
  display: flex;
  align-items: center;
  justify-content: center;
  &__zoom {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    width: 20px;
  }
  &:hover {
    .block__image__zoom {
      visibility: visible;
      opacity: 1;
    }
  }
}
