@import "./_block.scss";

.block__quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #444;
  color: #fff;
  &__text {
    font-size: 1.3em;
    font-family: sans-serif;
    margin: 20px 0 0 0;
  }
  &__quotation-mark {
    width: 30px;
    color: #666;
  }
}
