@import "../Common/_colors.scss";
@import "./_block.scss";

.block__video {
  position: relative;
  &__content {
    position: absolute;
    bottom: 10px;
    display: flex;
    color: #fff;
    text-align: left;
    align-items: center;
    padding-left: 15px;
  }
  &__texts {
    h2,
    h3 {
      padding: 0;
      margin: 0 0 5px 0;
    }
    font-family: sans-serif;
  }
}
