@import "_colors.scss";
.button {
  border-radius: 50%;
  border: none;
  color: #fff;
  margin-right: 5px;
  cursor: pointer;
  transition: all 0.5s;
  vertical-align: middle;
  &__children {
    // little trick to center content in the button
    position: relative;
  }
  // RoundButton size
  &--small {
    width: 20px;
    height: 20px;
    line-height: 1em;
    .button__children {
      top: -1px;
    }
  }
  &--medium {
    width: 30px;
    height: 30px;
    line-height: 1em;
  }
  &--big {
    width: 50px;
    height: 50px;
    line-height: 1em;
    font-size: 3em;
    .button__children {
      top: -4px;
    }
  }
  // RoundButton colors
  &--grey {
    background-color: $grey;
    &:hover {
      background-color: darken($grey, 20%);
    }
  }
  &--green {
    background-color: $green;
    &:hover {
      background-color: darken($green, 20%);
    }
  }
}
