@import "../Common/_colors.scss";
.slider {
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  // Custom scrollbar isn't supported in non-webkit browser
  // Since a custom scrollbar isn't a crucial feature, non customised scrollbar
  // is acceptable as graceful degradation for non-webkit browser
  &::-webkit-scrollbar {
    height: 5px;
    background-color: none; /* or add it to the track */
  }
  /* Add a thumb */
  &::-webkit-scrollbar-thumb {
    background: $green;
  }
  background: $grey2;
  &__header {
    display: flex;
    height: 40px;
    padding: 5px;
    background-color: $grey2;
    color: #fff;
    align-items: center;
    &__logo {
      background-color: $green;
      width: 30px;
      height: 30px;
      padding: 5px;
    }
    &__title {
      font-family: sans-serif;
      font-size: 1em;
      padding-left: 10px;
    }
    &__buttons {
      margin-left: auto;
    }
  }
}
