@import "../Common/_colors.scss";

.slider__footer {
  height: 60px;
  background: $grey2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    height: 50px;
    padding: 5px;
  }
  &__buttons {
    margin-left: auto;
  }
}
